.c__arrows {
    width: 80%;
    height: 10%;
    bottom: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    @include mobile {
      width: 100%;
    }
    svg {
      width: 30px;
      height: 36px;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      path {
        stroke: $lightBrown;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
      }
      path.a1 {
        animation-delay:-1s;
      }
      path.a2 {
        animation-delay:-0.5s;
      }
      path.a3 {
        animation-delay:0s;
      }
    }
  }
