.agenda {
	width: 88%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	position: relative;
	opacity: 1;
	transition: all 1s ease;
	@include mobile {
		width: 100%;
	}
	.agenda__close {
		position: absolute;
		right: 3rem;
	}
	.agenda__content {
		width: 65%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-flow: row wrap;
		font-size: .8rem;
		font-weight: lighter;
		@include mobile {
			width: 100%;
		}
		h2 {
			font-size: 2rem;
			font-weight: bold;
			padding: 1rem;
		}
		.content__row {
			height: 40vh;
			display: flex;
			justify-content: center;
			@include mobile {
				height: auto;
				flex-wrap: wrap;
			}
			.content__box {
				width: 25%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position:relative;
				margin: .5rem;
				padding: .5rem;
				border: 2px solid #D0A84F;
				@include mobile {
					width: 50%;
				}
				.box__date {
					font-size: 1.5rem;
					font-weight: bold;
				}
				.box__fb {
					width: 15%;
					position: absolute;
					right: .5rem;
					top: .5rem;
					img {
						width: 100%;
					}
				}
				.content__line {
					height: 1.5px;
					width: 10%;
					margin: .5rem 0;
					background-color: black;
				}
				.box__txt {
					.txt__titre {
						font-size: 1.1rem;
						font-weight: bold;
					}
					.txt__desc {
						padding: 1rem 0;
					}

				}
				.box__details {
					width: 70%;
					display: flex;
					align-items: center;
					position: relative;
					padding: 0 .1rem;
					font-size: .7rem;
					width: 100%;
					height: auto;
					img {
						width: 10%;
					}
					.details__infos {
						margin-left: .5rem;
						font-size: .8rem;
						font-weight: bold;
					}
				}
			}
		}
	}
	.agenda__img {
		width: 35%;
		height: 100%;
		overflow: hidden;
		@include mobile {
			display: none;
		}
		img {
			height: 100vh;
		}
	}
}
