.agenda {
	justify-content: space-between;
	width: 88%;
	height: 100vh;
	display: flex;
	position: relative;
	transition: all 1s ease;
	.agenda__content {
		width: 70%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-flow: row wrap;
		font-size: .8rem;
		font-weight: lighter;
		h2 {
			font-size: 2rem;
		}	
		.content__row {
			height: 40vh;
			display: flex;
			justify-content: center;
			.content__box {
				width: 25%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position:relative;
				margin: 1rem;
				padding: .5rem;
				border: 2px solid #D0A84F;
				.box__date {
					font-size: 1.5rem;
					font-weight: bold;
				}
				.box__fb {
					width: 15%;
					position: absolute;
					right: .5rem;
					top: .5rem;
					img {
						width: 100%;
					}
				}
				.content__line {
					height: 1.5px;
					width: 10%;
					margin: .5rem 0;
					background-color: black;
				}	
				.box__txt {
					.txt__titre {
						font-size: 1rem;
						font-weight: normal;
					}
					.txt__desc {
						padding: 1rem 0;
					}

				}
				.box__details {
					width: 70%;
					display: flex;
					align-items: center;
					position: relative;
					padding: 0 .1rem;
					font-size: .7rem;
					width: 100%;
					height: auto;
					img { 
						width: 10%;
					}
					.details__infos {
						margin-left: .5rem;
					}
				}
			}
		}
	}
	.agenda__img {
		border:1px solid black;
		float: right;
		width: 30%;
		height: 100%;
		overflow: hidden;
		img {
			height: 100vh;
		}
	}
}
