.contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  @include mobile {
    width: 100%;
    height: auto!important;
    justify-content: center;
    align-items: center;
  }
  .contact__form {
    width: 88%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include mobile {
      display: none;
      width: 90%;
    }
    form {
      width: 50%;
      flex-flow: column wrap;
      color: $lightBrown;
      @include mobile {
        width: 100%;
      }
      input, textarea {
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: 1px solid $lightBrown;
      }
      textarea {
        height: auto;
      }
      .form__name, .form__surname {
        width: 48%;
        @include mobile {
          width: 100%;
        }
      }
      .form__name {
        margin-right: 3%;
      }
      button {
        height: 25px;
        min-height: 25px;
        cursor: pointer;
        margin-top: 1rem;
        border-bottom: 2px solid $lightBrown;
        align-self: flex-start;
      }
    }
    .form__text {
      padding: 2rem;
      color: $lightBrown;
      text-align: center;
      p {
        line-height: 1.3rem;
      }
      img {
        width: 40px;
        height: 50px;
        padding: .3rem;
        opacity: .3;
        transition: all 1s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .contact__infos {
    width: 88%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile {
      width: 100%;
      flex-direction: column;
      height: 50%;
    }
    .infos__mail, .infos__phone {
      color: $lightBrown;
      text-align: center;
      img {
        padding: 1rem;
        max-height: 100px;
        max-width: 100px;
      }
      p {
        line-height: 1.3rem;
      }
    }
  }
  .contact__mobile {
    display: none;
    @include mobile {
      width: 100%;
      height: 40%;
      cursor: pointer;
      color: $lightBrown;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
    }
  }
  .contact__footer {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $lightBrown;
    color: $white;
    @include mobile {
      justify-content: center;
    }
    .footer__icon {
      left: 5%;
      @include mobile {
        display: none;
      }
      img {
        width: 40px;
        opacity: .3;
        transition: all 1s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .footer__content {
      width: 88%;
      display: flex;
      justify-content: center;
      align-items: center;
      .footer__socials {
        display: flex;
        padding: 0 3rem;
        .socials__facebook, .socials__instagram {
          padding: 0 .5rem;
          img {
            width: 2rem;
          }
        }
      }
      .footer__mentions, .footer__credits {
        width: 15%;
        @include mobile {
          font-size: .7rem;
        }
      }
      .footer__mentions {
        text-align: right;
      }
    }
  }
}
