.recipesList {
  width: 88%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  transition: all 1.5s ease;
  @include mobile {
    height: auto!important;
  }
  opacity: 1;
  .recipesList__content{
    width: 100%;
    height: 100%;
    @include flexCenter();
    ul {
      li {
        padding: .4rem 0;
        text-align: center;
      }
    }
  }
  .recipesList__tools {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 0;
    .tools__search, .tools__icon {
      height: 2rem;
      display: flex;
      align-items: center;
      border-left: 1px solid $lightBrown;
      img {
        cursor: pointer;
        width: 1.5rem;
        margin: 1rem;
      }
    }
    .tools__icon {
      img {
        cursor: default;
        opacity: .3;
        transition: all 1s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .recipesList__close {
      margin: 0 3rem;
    }
  }
  .recipesList__arrows {
    width: 80%;
    height: 10%;
    bottom: 1rem;
    position: absolute;
    text-align: center;
    svg {
      width: 30px;
      height: 36px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 0;
      cursor: pointer;
      path {
        stroke: $lightBrown;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
      }
      path.a1 {
        animation-delay:-1s;
      }
      path.a2 {
        animation-delay:-0.5s;
      }
      path.a3 {
        animation-delay:0s;
      }
    }
  }
}
