.recipe {
  display: flex;
  .recipe__img {
    width: 50%;
    height: 100%;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
  .recipe__article {
    width: 50%;
    height: 100%;
    padding: 2rem;
    position: relative;
    @include flexCenter();
    .article__txt {
      height: 80%;
      width: 75%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      h1 {
        color: $lightBrown;
        padding: 1.5rem 0;
        font-size: 2.5rem;
      }
      .txt__line {
        width: 100px;
        height: 2px;
        background-color: $lightBrown;
      }
      .txt__content {
        padding: 1.5rem 0;
        line-height: 1.3rem;
      }
    }
    .article__list {
      position: absolute;
      top: 2rem;
      left: 2rem;
      color: $lightBrown;
      ul {
        li {
          padding: .5rem 0;
          font-weight: 100;
          a {
            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
      }
    }
    .article__previous {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: $lightBrown;
      font-weight: 100;
      a {
        border-bottom: none;
      }
    }
    .article__date {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: $lightBrown;
      font-weight: 100;
    }
  }
}