body{
	font-family: “/fonts/Akkurat-light”,sans-serif;
}
.cv{
	@include flexCenter();
	.cv__img{
		img{
			padding-left: 2em;
			height: 70vh;
			border-bottom: 5px solid $lightBrown;
		}
	}
	.cv__txt{
		padding: 3em;
		width: 45%;
		height: 100vh;
		h1{
			font-weight: bolder;
			font-size: 50px;
			border-bottom: 3px solid black;
		}
		h2{
			color: $lightBrown;
			font-size: 30px;
			padding-top: 1em;

		}
		p{
			padding-top: 1em;
			padding-right: 3em;
			font-size: 20px;
			line-height: 1.5em;
		}
		#contact{
			padding-top: 1em;
			color: $lightBrown;
		}
	}
	.cv__icons{
		padding-top: 5em; 
		.cv__media{
			padding-bottom:10em;
			.picto{
				width: 25%;
			}
		}
	}
}