.cv {
	width: 100%;
	height: 100%;
	display: flex;
	.cv__img {
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		img {
			height: 70vh;
			border-bottom: 5px solid $lightBrown;
		}
	}
	.cv__content {
		width: 40%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 3rem;
		.content__author {
			width: 70%;
			font-weight: bold;
			font-size: 2.5rem;
		}
		.content__line {
			height: 3px;
			width: 25%;
			margin: 1.5rem 0;
			background-color: black;
		}
		.content__title {
			width: 70%;
			color: $lightBrown;
			font-size: 1.5rem;
			font-weight: 100;
		}
		.content__txt {
			margin: 1.5rem 0;
			font-size: 1rem;
			font-weight: 100;
			line-height: 1.3rem;
		}
		.content__note {
			padding-top: 1rem;
			font-weight: 100;
			color: $lightBrown;
		}
	}
	.cv__icons {
		width: 20%;
		height: 100%;
		@include flexCenter();
		flex-direction: column;
		.icons__icon {
			height: 25%;
			@include flexCenter();
			flex-direction: column;
			img {
				width: 50%;
				padding: 1rem;
			}
			p {
				font-weight: 100;
			}
		}
	}
	.CV__close {
		height: 20px;
		position: absolute;
		right: 3rem;
		top: 3rem;
		color: $lightBrown;
		border-bottom: 2px solid $lightBrown;
		cursor: pointer;
	}
}
.cv--hide {
	opacity: 0;
	display: none!important;
}