.home {
  width: 100%;
  justify-content: space-between;
  background-color: $darkBrown;
  .home__part {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .home__left {
  }
  .home__center {
    @include flexCenter();
    .logo{
      width: 50%;
    }
  }
  .home__right {

  }
}