.home {
  justify-content: space-between;
  background-color: $darkBrown;
  .home__part {
    height: 100%;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
  }
  .home__left {
    .left__socials {
      height: 35%;
    }
    .left__menu {
      height: 100%;
    }
  }
  .home__center {
    @include flexCenter();
    .logo{
      width: 60%;
    }
  }
  .home__right {

  }
}