* {
    box-sizing: border-box;
}
html, body {
    min-width: 320px;
}
.page {
    height: 100vh;
    width: 100%;
    float: right;
    @include flexCenter();
    font-family: Akkurat;
    background-color: $white;
    @include mobile {
      max-width: 100vw;
    }
}
.container {
  display: flex;
  justify-content: flex-end;
}

.home--hide, .cv--hide, .news--hide, .recipes--hide, .agenda--hide, .medias--hide, .recipesList--hide {
  opacity: 0!important;
  position: absolute!important;
  z-index: -1!important;
  display: none;
}
