.medias--hide {
  display: none!important;
}
.medias {
  width: 88%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 1s ease;
  .medias__close {
    color: $lightBrown;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    border-bottom: 3px solid $lightBrown;
  }
  .medias__col {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .col__post {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 3rem;
      .post__author {
        img {
          width: 40%;
          padding: 1rem 0;
        }
      }
      .post__date {
        padding: .5rem 0;
        font-weight: 100;
      }
      .post__content {
        width: 90%;
        padding-bottom: 1rem;
      }
      .post__link {
        height: 25px;
        color: $lightBrown;
        cursor: pointer;
        border-bottom: 3px solid $lightBrown;
      }
    }
  }
  .medias__next {
    .next__arrows {
      width: 30px;
      height: 36px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
      cursor: pointer;
      path {
        stroke: $lightBrown;
        fill: transparent;
        stroke-width: 1px;  
        animation: arrow 2s infinite;
      }
      path.a1 {
        animation-delay:-1s;
      }
      path.a2 {
        animation-delay:-0.5s;
      }
      path.a3 {
        animation-delay:0s;
      }
    }
  }
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}