.menu {
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 1rem;
  color: $white;
  z-index: 5;
  transform: translateY(10vh);
  .socials__instagram {
    top: 6rem;
    left: 5rem;
    @include mobile {
      position: absolute;
      top: 4rem;
      left: 1rem;
    }
  }
  .socials__facebook {
    top: 3rem;
    left: 5rem;
    @include mobile {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
  .socials__facebook, .socials__instagram {
    width: 2rem;
    height: 2rem;
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    z-index: 20;
    transform: translateY(-10vh);
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      opacity: .7;
      transition: all .4s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
  .menu__menu {
    width: 85;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include mobile {
      display: none;
    }
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .menu__item {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 2rem;
        text-transform: uppercase;
        text-align: right;
        font-family: Akkurat;
        font-weight: 100;
        color: $white;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          color: $lightBrown;
        }
        .item__line {
          width: 0;
          height: 3px;
          background-color: $lightBrown;
          transition: all .3s ease;
        }
      }
      .menu__item--active {
        color: $lightBrown!important;
        font-weight: 600;
        .item__line--home {
          width: 100%;
        }
        .item__line--news {
          width: 52%;
        }
        .item__line--recipes {
          width: 89%;
        }
        .item__line--contact {
          width: 78%;
        }
      }
    }
    .menu__bar {
      width: 5px;
      height: 100%;
      margin-left: 1rem;
      background-color: #FCF3D8;
      .bar__section {
        cursor: pointer;
        height: 25%;
        transition: all .3s ease;
      }
      .bar__section--active {
        background-color: $lightBrown;
      }
    }
  }
  .menu__menu--dark {
    ul {
      .menu__item {
        color: $black;
      }
    }
  }
}
