.menu {
  width: 12%;
  height: 100%;
  position: fixed;
  color: $white;
  .menu__socials {
    height: 30%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5rem;
    .socials__facebook, .socials__instagram {
      padding: .5rem 0;
      img {
        width: 2rem;
      }
    }
  }
  .menu__menu {
    width: 85;
    height: 63%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    ul {
      .menu__item {
        height: 4rem;
        line-height: 2rem;
        text-transform: uppercase;
        text-align: right;
        font-family: Akkurat;
        font-weight: 100;
        color: $white;
        cursor: pointer;
        transition: all .3s ease;
        .item__line {
          width: 0;
          height: 3px;
          background-color: $lightBrown;
          transition: all .3s ease;
        }
      }
      .menu__item--active {
        color: $lightBrown!important;
        font-weight: 600;
        .item__line {
          width: 100%;
        }
      }
    }
    .menu__bar {
      width: 5px;
      height: 100%;
      margin-left: 1rem;
      background-color: #FCF3D8;
      .bar__section {
        height: 25%;
        transition: all .3s ease;
      }
      .bar__section--active {
        background-color: $lightBrown;
      }
    }
  }
  .menu__menu--dark {
    ul {
      .menu__item {
        color: $black;
      }
    }
  }
}