#ms-left,#ms-right{
	display: flex;
}
.recipe{
	display: flex;
}
.recipe__img{
	img{
		width: 90%;
		height: 100vh;
	}
}
.liste{
	color:#d0a84f;
	padding-top: 2em;
	li{
		padding-bottom: .2em;
	}
	a:hover{
		border-bottom: 1px solid;
	}
}

.recipe__txt{
	padding: 5em;
	width: 500px;
	h1{
		color:#d0a84f;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 3px solid black;
	}
}
.recipe__link{
	color:#d0a84f;
	a{
		border-bottom: none;
	}
}