.recipes {
	width: 88%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.recipes__col {
		width: 30%;
		height: 100%;
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		.left__post {
			height: 55%;
			display: flex;
			align-items: center;
			position: relative;
			margin: 1rem;
			cursor: pointer;
			&:hover {
				img {
					opacity: .5;
				}
				.post__title {
					opacity: 1;
				}
			}
			img {
				height: 100%;
				width: auto;
			}
			.post__title {
				width: 30%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				position: absolute;
				font-size: 1.4rem;
				font-weight: 600;
				transition: all .6s ease;
				opacity: 0;
				p {
					transform: translateX(-40%);
				}
				.post__line {
					height: 2px;
					width: 30px;
					margin: 1rem 0;
					background-color: #000;
					transform: translateX(-160%);
				}
			}
		}
	}
	.recipes__right {
		width: 50%;
	}
}

#ms-left,#ms-right{
	display: flex;
}
.recipe{
	display: flex;
}
.recipe__img{
	img{
		width: 90%;
		height: 100vh;
	}
}
.liste{
	color:#d0a84f;
	padding-top: 2em;
	li{
		padding-bottom: .2em;
	}
	a:hover{
		border-bottom: 1px solid;
	}
}

.recipe__txt{
	padding: 5em;
	width: 500px;
	h1{
		color:#d0a84f;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 3px solid black;
	}
}
.recipe__link{
	color:#d0a84f;
	a{
		border-bottom: none;
	}
}