.recipes {
	width: 88%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.recipes__col {
		width: 30%;
		height: 100%;
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		.left__post {
			height: 55%;
			display: flex;
			align-items: center;
			position: relative;
			margin: 1rem;
			cursor: pointer;
			&:hover {
				img {
					opacity: .5;
				}
				.post__title {
					opacity: 1;
				}
			}
			.post__next {
				height: 20px;
				color: $lightBrown;
				border-bottom: 2px solid $lightBrown;
				cursor: pointer;
			}
			img {
				height: 100%;
				width: auto;
			}
			.post__title {
				width: 30%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				position: absolute;
				font-size: 1.4rem;
				font-weight: 600;
				transition: all .6s ease;
				opacity: 0;
				p {
					transform: translateX(-40%);
				}
				.post__line {
					height: 2px;
					width: 30px;
					margin: 1rem 0;
					background-color: #000;
					transform: translateX(-160%);
				}
			}
		}
	}
	.recipes__right {
		width: 50%;
	}
}
.recipes--hide {
	opacity: 0;
	display: none!important;
}
