@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		  font-family: $font-family;
			src: url('../fonts/#{$file-path}');
			font-weight: $font-weight;
			font-style: $font-style;
	}
}

@include font-face(Akkurat, 'Akkurat-Regular.ttf', 400, normal);
@include font-face(Akkurat, 'Akkurat-Light.otf', 100, normal);
@include font-face(Akkurat, 'Akkurat-Bold.otf', 600, bold);
