@keyframes logo1 {
  0% {
    width: 0%;
    transform: rotate(-100deg);
  }
  100% {
    width: 90%;
    transform: rotate(0);
  }
}

@keyframes logo2 {
  0% {
    width: 90%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 90%;
  }
}